<div class="container">
    <h1>Proveedores</h1>

    <form asp-controller="Home" asp-action="CrearProveedor" method="post" class="mb-4">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Nombre">Nombre:</label>
                    <input type="text" id="Nombre" name="Nombre" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Direccion">Dirección:</label>
                    <input type="text" id="Direccion" name="Direccion" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Telefono">Teléfono:</label>
                    <input type="text" id="Telefono" name="Telefono" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input type="text" id="Email" name="Email" class="form-control" />
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>
