<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 mb-4" style="font-family: Calibri;">SECURE VISION</h1>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <a asp-action="CrearDepartamentoFarmacia" class="btn btn-info btn-block" style="font-family: Rockwell; color: white;">Agregar Departamento</a>
        </div>
        <div class="col-md-3 mb-3">
            <a asp-action="VerDepartamentosFarmacia" class="btn btn-info btn-block" style="font-family: Rockwell; color: white;">Ver Departamentos</a>
        </div>
        <div class="col-md-3 mb-3">
            <a asp-action="EditarDepartamentoFarmaciaGeneral" class="btn btn-info btn-block" style="font-family: Rockwell; color: white;">Editar Departamento</a>
        </div>
        <div class="col-md-3 mb-3">
            <a asp-action="EliminarDepartamentoFarmacia" class="btn btn-info btn-block" style="font-family: Rockwell; color: white;">Eliminar Departamento</a>
        </div>
    </div>
</div>
