@model List<DepartamentoFarmacia>

<div class="container">
    <h1>Departamentos de Farmacia</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var departamento in Model)
            {
                <tr>
                    <td>@departamento.IDDepartamento</td>
                    <td>@departamento.Nombre</td>
                    <td>@departamento.Descripcion</td>
                </tr>
            }
        </tbody>
    </table>
</div>
